absl-py==1.4.0
anaconda-client==1.11.0
anaconda-navigator==2.3.2
anaconda-project
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow==1.2.3
asgiref==3.6.0
astroid
astropy
astunparse==1.6.3
atomicwrites==1.4.0
attrs
Automat
autopep8
axios==0.2.0
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts==0.2
black
bleach
bokeh
boto3
botocore==1.29.96
Bottleneck
brotlipy==0.7.0
cachetools==5.3.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.1
colorama
colorcet
conda==23.1.0
conda-build==3.22.0
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli==1.0.27
conda-token
conda-verify==3.4.2
conda_package_streaming
constantly==15.1.0
construct==2.10.68
contourpy==1.0.7
cookiecutter
cryptography
cssselect==1.1.0
cycler
Cython
cytoolz==0.11.0
daal4py==2021.6.0
dask
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib==0.3.6
distributed
Django==4.1.7
docutils
entrypoints
et-xmlfile==1.1.0
fastjsonschema
filelock
findspark==2.0.1
flake8
Flask
flatbuffers==23.1.21
fonttools==4.25.0
fsspec
future
gast==0.4.0
gensim
geojson==2.5.0
glob2
gmaps==0.9.0
gmpy2
google-auth==2.16.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet
grpcio==1.44.0
h5py==3.4.0
HeapDict==1.0.1
html5lib
httpcore==0.13.3
httpx==0.19.0
hyperopt==0.2.5
idna
imageio==2.9.0
imagesize==1.2.0
importlib-metadata
iniconfig==1.1.1
intel-openmp==2022.0.0
ipykernel
ipympl==0.7.0
ipython
ipython-genutils
ipywidgets==7.6.5
isort==5.9.3
itsdangerous
jdcal==1.4.1
heroku
idna
importlib-metadata
importlib-resources==5.12.0
iniconfig
inflection==0.5.1
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jdcal
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonschema
jupyter
jupyter-client==7.3.4
jupyter-console
jupyter-server
jupyter_core==5.3.0
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras==2.11.0
keyring
kiwisolver
lazy-object-proxy
libarchive-c
libclang==15.0.6.1
llvmlite==0.38.0
locket
lxml
lz4
Markdown
markdown-it-py==2.2.0
MarkupSafe
matplotlib==3.7.1
matplotlib-inline
mccabe
mdurl==0.1.2
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mock
mpmath==1.2.1
mrjob==0.7.4
msgpack
multipledispatch
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
nb-conda-kernels
nbclassic
nbclient
nbconvert
nbformat==5.4.0
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
oauthlib==3.2.2
olefile
openpyxl==3.0.10
opt-einsum==3.3.0
pandas==1.5.3
patsy==0.5.2
pep8==1.7.1
ply==3.11
Pillow==9.2.0
pkginfo
plotly
pluggy
poyo
prometheus-client
prompt-toolkit
Protego
protobuf==3.19.6
ptyprocess
pyasn1-modules==0.2.8
pycodestyle
pycosat==0.6.3
pycparser
pycurl==7.45.1
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments==2.14.0
PyHamcrest
PyJWT
pylint
pyls-spyder==0.4.0
pyodbc
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest==7.1.2
python-dateutil
python-dotenv==0.21.0
python-slugify
python-snappy
pytz
pyviz-comms
PyWavelets
PyYAML==6.0
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
requests-oauthlib==1.3.1
rich==13.3.2
rope
rsa==4.9
Rtree
scikit-image
scikit-learn
scikit-learn-intelex==2021.20221004.121333
scipy==1.9.1
Scrapy
seaborn
Send2Trash
service-identity
six
smart-open
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
splinter==0.18.1
spyder
spyder-kernels
SQLAlchemy
sqlparse==0.4.3
statsmodels
sympy
tables
tabulate
TBB==0.2
tblib
tenacity
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
terminado
testpath
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss
tldextract
toml
tomli
tomlkit
toolz
tornado==6.2
tqdm
Traitlets==5.9.0
Twisted
typing_extensions
ujson
Unidecode
urllib3
virtualenv==20.21.0
virtualenv-clone==0.5.7
w3lib
watchdog
wcwidth
webdriver-manager==3.8.5
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlrd
XlsxWriter
xlwings
yapf
zict==2.1.0
zipp
zope.interface